{% extends 'base.html.twig' %}

{% block title %}Hello RentalController!{% endblock %}

{% block body %}

    <h1 class="title">Fabrication sur mesure</h1>

    <p>Découvrez l'harmonie personnalisée avec nos Handpans sur mesure !
        Choisissez votre gamme, la couleur, le nombre de notes et la fréquence
        pour créer l'instrument de vos rêves.
    </p>

    <p>Composez votre handpan nous vous contacterons</p>




{% endblock %}
