{% extends 'base.html.twig' %}

{% block title %}Edit Instrument{% endblock %}

{% block body %}
    <main class="column">

    <h1 class="title">Modifier Instrument</h1>

    {{ include('admin_instrument/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_instrument_index') }}">retour à la liste</a>

    </main>
{% endblock %}
