{% extends 'base.html.twig' %}

{% block title %}New Instrument{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel Instrument</h1>

    {{ include('admin_instrument/_form.html.twig') }}

    <a href="{{ path('app_admin_instrument_index') }}">retour à la liste</a>
{% endblock %}
