{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <dev>
        <h1>BIENVENUE CHEZ MISTRAL PANS!</h1>

        <img src="" alt="">

        <dev>
            <img src="" alt="">
            <h2>Fabrication sur mesure</h2>
            <p>Choisissez la fréquence (432/440 hz), le nombre de notes, la gamme la couleur et recevez votre handpan.
            </p>
            <a href="#">Création</a>
        </dev>

        <dev>
            <img src="" alt="">
            <h2>Nos dispos</h2>
            <p>Explorez nos handpans disponibles, choisissez votre mélodie préférée et laissez la musique commencer.
            </p>
            <a href="#">La boutique</a>
        </dev>

        <dev>
            <img src="" alt="">
            <h2>Location</h2>
            <p>une envie pour quelques jour ? nous vous proposons ici de loué nos handpan
            </p>
            <a href="#">Location</a>
        </dev>
    </dev>
</main>
{% endblock %}
