<nav>
    <div class="navbar">
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <img src="" alt="Logo">
    </div>
</nav>

