<h1>Nouveau commentaire client</h1>
<p>Un nouveau commentaire client a été enregistré avec les informations suivantes :</p>

    <p>Client: {{ client.getName() }}</p>
    <p>Objet: {{ comment.getObject() }}</p>
    <p>Message: {{ comment.getMessage() }}</p>
